#loginup {
  float: right;
}

#loginup.g-signin2 {
  text-align: center;
}

.mainLogo {
  width:160;
  height:100;
  margin-left:auto;
  margin-right:auto;
}

body {
  background-color: #2F4F4F;  
  text-decoration: none;
}

#headBar { /* top bar*/
  background-color: white;
}

#middle {
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}

#content {  /*Table*/
  border: 3px;
  float: left;
  text-align: center;
}

#main {
  margin-left: auto;
  margin-right: auto;
}

#mainview {
  width:80%;
  overflow: hidden;
}

#sideview {
  height: 100%;
  width: 10%;
  float: right;
  text-align: center;
}

#footer {
  background-color: white;
  text-align: center;
}