#loginup {
  float: right;
  margin-left: auto;
  margin-right: auto;
}

#loginup.g-signin2 {
  text-align: center;
}

.mainLogo {
  width:160;
  height:100;
  margin-left:auto;
  margin-right:auto;
}

.toggleShow {
  text-decoration: none;
  
}

body {
  background-color: #2F4F4F;  
  text-decoration: none;
}

#headBar { /* top bar*/
  background-color: white;
}

#middle {
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}

#content {  /*Table*/
  border: 3px;
  float: left;
  text-align: center;
}

#mainview {
  border:2px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#welcome {
  /*To the middle line of the screen*/
  float:left;
}

#line2 {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#options {
  margin-left: auto;
  margin-right: auto;
}

#funding {
  /*To the right of welcome <br/> the screen*/
  float: right;
}

#about {
  /*To the left of welcome <br/> the screen*/
  float: left;
  text-align:center;
}

#sideview {
  height: 100%;
  width: 15%;
  float: right;
  text-align: center;
  background-color: blue;
}

#footer {
  background-color: white;
  text-align: center;
}