
body {
  background-color: black;  
  
}

#headbar { /* top bar*/
  background-color: white;
}

#middle {
  background-color: white;
  padding: 100px;
}

#content {  /*Table*/
  border: 0px;
  text-align: center;
}

#mainview {
}

#welcome {
  
}

#about {
  
}

#funding {
  
}

#sideview {
  height: 100%;
  width: 30%;
}
