.g-signin2 {
  float: center;
}

.mainLogo {
  width:160;
  height:100;
}

body {
  background-color: black;  
  
}

#headbar { /* top bar*/
  background-color: white;
}

#middle {
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}

#content {  /*Table*/
  border: 3px;
  float: left;
  text-align: center;
}

#mainview {
  border:2px;
  overflow: hidden;
}

#main {
  margin-left: auto;
  margin-right: auto;
}

#welcome {
  /*To the middle line of the screen*/
  float:left;
}

#funding {
  /*To the right of welcome <br/> the screen*/
  float: right;
}

#about {
  /*To the left of welcome <br/> the screen*/
  float: right;
}
#sideview {
  height: 100%;
  width: 30%;
  float: right;
}

#footer {
  background-color: white;
}